/* end burger menu*/
/* start user*/
.user-area {
    width: 100%;
    height: 612px;
    margin-left: 46px;
    -webkit-box-shadow: inset 0 0 78px 14px rgba(0, 0, 0, 0.89);
    box-shadow: inset 0 0 78px 14px rgba(0, 0, 0, 0.89);
    border: 1px solid #282315;
    background-color: transparent;

    &__top {
        p {
            @include fontColor();
            text-align: center;
            font-size: 18px;
            padding-top: 5px;

        }
    }
}

.user-area__infoImage {
    width: 150px;
    padding: 45px 10px;
}

.user-area__infoIcons {
    &-box {
        display: flex;
        padding: 50px 10px;
        line-height: 35px;

        ul:nth-child(1) {
            li {
                @include fontColor()
            }

            img {
                position: relative;
                right: 2px;
                top: -2px;
            }
        }

        ul:nth-child(2) {
            margin-left: 40px;

            input {
                background: transparent;
                box-shadow: inset 0 0 20px 4px rgba(0, 0, 0, 0.89),
                    0 0 10px rgba(248, 245, 185, 0.05);
                border: none;
                margin: 0px 0px 7px 0px;
            }

            img {
                margin-left: 10px;
            }
        }

        ul:nth-child(3) {
            margin-left: 40px;

            li {
                @include fontColor()
            }

            img {
                position: relative;
                right: 2px;
                top: -2px;
            }
        }

        ul:nth-child(4) {
            margin-left: 10px;

            li {
                @include fontColor()
            }
        }
    }
}

.user-area__info {
    display: -webkit-box;
    height: 210px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: left;
    margin-left: 55px;
}

/* end user area info*/
.user-area__infoBtn {
    display: flex;
    padding: 0px 65px;

    ul {
        margin: auto;

        li {
            img {
                height: 78px;
                width: 100%;
            }
        }
    }
}

.display-image,
.display-imageSC,
.display-imageTH {
    height: 25px;
}

.displayFirst,
.displaySecond,
.displayThird {
    margin: 0;
}

/* end infobtn*/

.user-area__infoEnd {
    text-align: center;
    background: url("../img/Группа_76_kопировать_2.png");
    background-repeat: no-repeat;
    background-position: top;

    span {
        @include fontColor();
        letter-spacing: 2px;
    }
}

.user-area__infoEnd-image {
    text-align: left;
    padding-left: 82px;
}

/* end info-box*/
.user-registration {
    width: 85%;
    height: 100%;
    margin-left: 14px;
    margin-bottom: 34px;
    box-shadow: inset 0 0 78px 14px rgba(0, 0, 0, 0.31);
    border: 1px solid #282315;
    background-color: transparent;
    border: 1px solid #282315;
    background-color: transparent;
    padding: 38px 0px;

    &-text {
        @include fontColor();
        position: relative;
        left: 26px;
        top: -24px;
        padding: 10px;


        span {
            font-size: 17px;
        }
    }

    &-form {
        padding: 16px 0px;
        text-align: center;

        input {
            color: #adad88;
            background: transparent;
            -webkit-box-shadow: inset 0 0 20px 4px rgba(0, 0, 0, 0.89),
                0 0 10px rgba(248, 245, 185, 0.05);
            box-shadow: inset 0 0 20px 4px rgba(0, 0, 0, 0.89),
                0 0 10px rgba(248, 245, 185, 0.05);
            border: none;
            border-bottom: 1px solid #927c2b70;
            margin: -4px 0px 5px 0px;
            width: 90%;
            height: 36px;
            padding: 18px;
            border-radius: 6px;
        }
    }

    &-btn {
        text-align: center;
    }

    &-Secondtext {
        @include fontColor();
        padding: 12px 31px;

        span {
            font-size: 17px;
        }
    }

    &-static {
        background: transparent;
        -webkit-box-shadow: inset 0 0 20px 4px rgba(0, 0, 0, 0.89),
            0 0 10px rgba(248, 245, 185, 0.05);
        box-shadow: inset 0 0 20px 4px rgba(0, 0, 0, 0.89),
            0 0 10px rgba(248, 245, 185, 0.05);
        border: none;
        border-bottom: 1px solid #927c2b70;
        margin: -4px 0px 5px 0px;
        width: 98%;
        height: 71px;
        padding: 4px 0px;
        border-radius: 6px;
    }
}

.user-registration-staticText {
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;

    span:nth-child(1) {
        @include fontColor();
        font-size: 18px;
    }

    span:nth-child(2) {
        color: #90ffa49c;
        text-shadow: 0 0 10px rgba(86, 152, 36, 0.65);
        font-size: 18px;
    }
}

.user-registration-image {
    position: relative;

    img {
        margin: 0;
        height: 4px;
        position: absolute;
        top: 0;
        left: 10px;
        display: block;
        height: 9px;
    }

}

.user-registration-Thirdtext {
    @include fontColor();
    padding: 0px 19px;

    span {
        font-size: 17px;
    }
}

.user-registration-Pages {
    li {
        @include fontColor();
        font-size: 19px;
    }

    img {
        height: 45px;
        margin: 3px 14px;
    }

}

.selectt {
    background: url("../img/User_Area_Icon/Nickname.png") no-repeat !important;
    background-position-x: 10px !important;
}

/* end !!!*/

::-webkit-input-placeholder {
    @include fontColor();
}

.displayFirst {
    display: none;
}

.displaySecond {
    display: none;
}

.displayThird {
    display: none;
}

/* start responsive*/

@media screen and (max-width: 750px) {
    .contentBox__filter {
        position: relative;
        left: 12%;
    }

    /* burger*/
    .user-area {
        width: 92%;
        height: 228px;
        margin: auto;
        line-height: 30px;
        position: relative;
        bottom: 14px;


        &__infoImage {
            width: 0;
            padding: 0;

            img {
                height: 65px;

            }
        }
    }

    .user-area__infoIcons {
        margin-left: 64px
    }

    .user-area__top {
        p {
            font-size: 15px;
        }
    }

    .user-area__infoIcons-box {
        display: -webkit-box;
        padding: 8px;
        line-height: 0;

        input {
            width: 57px;
            height: 10px;
            margin: 2px 0px 0px 0px !important;
        }

        img {
            height: 10px;
        }

        span {
            font-size: 11px;
        }
    }

    label {
        display: none !important;
    }

    .user-area__infoIcons-box ul:nth-child(2) {
        margin: 0;
    }

    .user-area__infoEnd {
        display: none;
    }

    .user-area__info {
        display: -webkit-box;
        height: 70px;
        margin: 0;
    }

    .user-area__infoIcons-box {
        li {
            line-height: 12px;
        }
    }

    .user-area__infoIcons-box ul:nth-child(4) {
        display: none;
    }

    .user-area__infoBtn {
        ul {
            li {
                a {
                    img {
                        height: 28px;
                        width: 99%;
                    }
                }
            }
        }
    }

    .user-registration {
        width: 87% !important;
        height: 0;
        margin: 0;
        padding: 0;

        &-text {
            position: initial;

            span {
                font-size: 12px;
            }
        }

        &-form {
            padding: 0;

            input {
                width: 70%;
                height: 0px;
                padding: 12px;
            }
        }

        &-btn {
            img {
                height: 30px;
            }
        }
    }

    .user-registration-Secondtext {
        padding: 0;
        position: relative;
        right: 25%;
        top: 2px !important;

        span {
            font-size: 12px;
        }
    }

    .user-registration-static {
        margin: 0;
        padding: 0;
        width: 59%;
        height: 45px;
        float: left;
        margin-top: 3px;

    }

    .user-registration-staticText {
        padding: 0;

        span {
            font-size: 12px !important;
        }
    }



    .user-registration-Thirdtext {
        display: none;
    }

    .user-registration-Pages {
        position: relative;
        top: -17px !important;
        left: 19px !important;


        li {
            a {
                font-size: 12px;

                img {
                    margin: 0;
                    height: 30px;
                }
            }
        }
    }
}

@media screen and(min-width:760px) and (max-width:1200px) {
    .user-registration-Pages {
        position: relative;
        top: -34px !important;
        left: 40px !important;
    }

    .user-registration-Secondtext {
        padding: 0;
        position: relative;
        right: 29%;

    }

    .user-area {
        width: 84%;
        height: 260px;
        margin: auto;

        &__infoImage {
            width: 0;
            padding: 0;

            img {
                height: 65px;

            }
        }
    }

    .user-area__infoIcons {
        margin-left: 64px
    }

    .user-area__top {
        p {
            font-size: 15px;
        }
    }

    .user-area__infoIcons-box {
        display: -webkit-box;
        padding: 8px;
        line-height: 0;

        input {
            width: 57px;
            height: 10px;
            margin: 2px 0px 0px 0px !important;
        }

        img {
            height: 15px;
        }

        span {
            font-size: 15px;
        }
    }

    label {
        display: none !important;
    }

    .user-area__infoIcons-box ul:nth-child(2) {
        margin: 0 !important;
    }

    .user-area__infoEnd {
        display: none;
    }

    .user-area__info {
        display: -webkit-box;
        height: 70px;
        margin: 0;
    }

    .user-area__infoIcons-box {
        li {
            line-height: 12px;
        }
    }

    .user-area__infoIcons-box ul:nth-child(4) {
        display: none;
    }

    .user-area__infoBtn {
        margin: 0px 52px;
        padding: 0;

        ul {
            li {
                a {
                    img {
                        height: 36px;
                        width: 83%;
                    }
                }
            }
        }
    }

    .user-registration {
        width: 90%;
        height: 0;
        margin: 0;
        padding: 0;

        &-text {
            position: initial;
            margin-left: 47px;

            span {
                font-size: 12px;
            }
        }

        &-form {
            padding: 0;

            input {
                width: 70%;
                height: 0px;
                padding: 12px;
            }
        }

        &-btn {
            img {
                height: 30px;
            }
        }
    }

    .user-registration-Secondtext {
        top: -15px;

        span {
            font-size: 12px;
        }
    }

    .user-registration-static {
        margin: 0;
        padding: 0;
        margin-top: -13px;
        width: 59%;
        height: 45px;
        float: left;
    }

    .user-registration-staticText {

        span {
            font-size: 12px !important;
        }
    }

    .user-registration-image {
        img {
            margin: 0;
            height: 7px;
        }
    }

    .user-registration-Thirdtext {
        display: none;
    }

    .user-registration-Pages {
        position: relative;

        li {
            a {
                font-size: 12px;

                img {
                    margin: 0;
                    height: 30px;
                }
            }
        }
    }

    .user-area__infoBtn ul li a img {
        width: 193%;
        height: 55px !important;
    }

    .user-area__infoBtn {
        padding: 0px;
        position: relative;
        right: 7%;
    }
}