.registrationbtn {
    img {
        border: 1px solid #f3b75e5c;
        border-radius: 13px;
        height: 28px;
        padding: 0px;
        margin-left: 11px;
    }
}

.second {
    width: 84%;
    margin-left: 17px;
}